<div class="container">
  <h1>Welcome</h1>
  <div class="card large">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="http://www.vactualpapers.com/web/wallpapers/material-design-hd-wallpaper-no-0728/thumbnail/lg.png" alt="">
          <div class="caption left-align">
            <h3>Material Design</h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>
        <li>
          <img src="http://www.img.lirent.net/2014/10/Android-Lollipop-wallpapers-m.png" alt="">
          <div class="caption right-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3">So Clean</h5>
          </div>
        </li>
        <li>
          <img src="http://awesomwallpaper.com/img2/A181FE3959C08E3D/material-design.jpg" alt="">
          <div class="caption center-align">
            <h3>Much Wow</h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>
      </ul>
      <div class="card-content home-card">
        <p>Andrew told our class to create an app that showcases our interests/hobbies. I'm a geek who reddits all day and likes technology. I especially like cell phones.</p>
      </div>
    </div>
  </div>

  <script>
  $(document).ready(function(){
    // Init Carousel
    $('.carousel').carousel();

    // Init Carousel Slider
    $('.carousel.carousel-slider').carousel({fullWidth:true});

    // Fire off toast
    //Materialize.toast('Hello World', 3000);

    // Init Slider
    $('.slider').slider();

    // Init Modal
    $('.modal').modal();

    // Init Sidenav
    $('.button-collapse').sideNav();
  });
  </script>
</div>
