<div class="container">
  <div class="card large">
    <div class="card-image">
      <img src="https://orig00.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg">
      <span class="card-title">Welcome</span>
    </div>
    <div class="card-content">
      <p>Andrew told our class to create an app that showcases our interests/hobbies. I'm a geek who reddits all day and likes technology. I especially like cell phones.</p>
    </div>
  </div>
</div>
