<div class="container">  
 <h2 class="header">Phones</h2>
 <div class="card horizontal">
   <div class="card-image">
     <img src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/larger_wm_brw/public/article_images/2016/10/pixel-xl-black-on-wood.jpg?itok=gMpPQOFW">
   </div>
   <div class="card-stacked">
     <div class="card-content">
      <p>#TeamPixel</p>
      <p>At least for now, that new iPhone is looking pretty appealing</p>
     </div>
      <div class="card-action">
       <a href="https://madeby.google.com/phone/" target="_blank">Learn more the the Google Pixel</a>
     </div>
   </div>
 </div>

 <div class="card horizontal">
   <div class="card-image">
     <img src="https://cnet2.cbsistatic.com/img/rqWPNhxfi5aISDF-aBuk_7q2yco=/fit-in/570x0/2017/09/15/2b3da9d0-d284-457b-acdd-177de159db5e/apple-091217-iphone-x-3986-1.jpg">
   </div>
   <div class="card-stacked">
     <div class="card-content">
      <p>Update: Leaks for the new pixel suck. Am planning on switching back to iOS</p>
     </div>
     <div class="card-action">
       <a href="https://www.apple.com/iphone-x/" target="_blank">Learn more about the iPhone X</a>
     </div>
   </div>
 </div>
</div>

  
